{%extends 'hr_index.html'%} {% load static %} {% block content %}

<style>
    .dropdown-item:hover {
        color: #f4f4f8;
    }

    td,
    th {
        text-align: center;
    }
</style>

<div class="row">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Contacted List</h4>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <form>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control text-white" id="myInput" onkeyup="myFunction()"
                            placeholder="Search . . ." style="border: green" />
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-white " style="padding-left:20px;">SiNo</th>
                            <!-- <th></th> -->
                            <th class="text-white">Name</th>
                            <th class="text-white">Email</th>
                            <th class="text-white">contact</th>    
                            <th class="text-white">Date</th>                         
                            <th class="text-white">Mark</th>
                            <th class="text-white">action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% if m %}
                        {% for i in m %}
                        
                        <tr>
                            <td>
                                {{forloop.counter}}
                            </td>
                            <!-- <td >                               
                                </td> -->
                            <td>
                              {{i.username}}
                            </td>
                            <td >{{i.email}}</td>
                            <td >
                                {{i.contact_no}}
                            </td >
                            <td >
                                {{i.regdate|date:"d-m-Y"}}
                            </td >
                            <td>
                               {{i.mark}}
                            </td>
                            <td>
                               
                                <a href="/replaysaveintrest/?tid={{i.id}}" class="btn btn-outline-success btn-icon-text" >
                                    <i class="mdi mdi-emoticon btn-icon-prepend"></i> Intrested
                                </a>
                                <a href="/replaysavenotintrest/?tid={{i.id}}" class="btn btn-outline-danger btn-icon-text" >
                                    <i class="mdi mdi-emoticon-dead btn-icon-prepend"></i> Not Intrested
                                </a>
                                
                                
                            </td>     
                        </tr>
                         
                        {% endfor %}
                        {% else %}
                        <h5>Nothing to display...</h5>
                        {% endif %}
                        
                        

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>


    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock %}

